<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lfw.mapper.StudentMapper">

    <!-- 方式1,2 -->
<!--    <select id="selectBySid" resultMap="studentResultMap">-->
<!--        select s.*, c.* from t_stu s join t_class c on s.cid = c.cid where sid = #{sid}-->
<!--    </select>-->

    <!-- 方式1 -->
    <!--    <resultMap id="studentResultMap" type="student">-->
    <!--        <id property="sid" column="sid"/>-->
    <!--        <result property="sname" column="sname"/>-->
    <!--        <result property="clazz.cid" column="cid"/>-->
    <!--        <result property="clazz.cname" column="cname"/>-->
    <!--    </resultMap>-->


    <!-- 方式2 -->
<!--    <resultMap id="studentResultMap" type="Student">-->
<!--        <id property="sid" column="sid"/>-->
<!--        <result property="sname" column="sname"/>-->
<!--        <association property="clazz" javaType="Clazz">-->
<!--            <id property="cid" column="cid"/>-->
<!--            <result property="cname" column="cname"/>-->
<!--        </association>-->
<!--    </resultMap>-->

    <!-- 方式3 -->
<!--    <resultMap id="studentResultMap" type="Student">-->
<!--        <id property="sid" column="sid"/>-->
<!--        <result property="sname" column="sname"/>-->
<!--        <association property="clazz"-->
<!--                     select="com.lfw.mapper.ClazzMapper.selectByCid"-->
<!--                     column="cid"/>-->
<!--    </resultMap>-->

    <!-- 延迟加载 -->
    <resultMap id="studentResultMap" type="Student">
        <id property="sid" column="sid"/>
        <result property="sname" column="sname"/>
        <association property="clazz"
                     select="com.lfw.mapper.ClazzMapper.selectByCid"
                     column="cid"
                     fetchType="lazy"/>
    </resultMap>

    <!-- 方式3 -->
<!--    <select id="selectBySid" resultMap="studentResultMap">-->
<!--        select s.* from t_stu s where sid = #{sid}-->
<!--    </select>-->

    <!-- 方式：分布查询 -->
    <select id="selectByCid" resultType="Student">
        select * from t_stu where cid = #{cid}
    </select>

</mapper>