<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <!--组件扫描-->
    <component-scan base-package="com.lfw.oa.controller" />

    <!--视图解析器-->
    <bean class="org.myspringmvc.web.servlet.view.InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--拦截器-->
    <interceptors>
        <bean class="com.lfw.oa.interceptors.Interceptor1"/>
        <bean class="com.lfw.oa.interceptors.Interceptor2"/>
    </interceptors>

</beans>